@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmromandemi10-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Latin Modern Mono';
  src: url('fonts/lmmono10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.vp {
}

article {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.contents {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.content {
  display: flex;
  align-items: flex-start;      
  width: 100%;
  padding: 0.25em 0;
  line-height: 1.2;            
}

.folder {
  font-weight: bold;
}

.folder > .dots {
  opacity: 0;
}


.index {
  margin-right: 0.5em;
  text-align: right;
  min-width: 3em;
  white-space: nowrap;
}



.title {
  margin-right: 0.5em;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  flex: 0 1 auto;
  max-width: 50%;
}

.dots {
  flex-grow: 1;
  background: radial-gradient(circle at 50% 0.8em, #000 8%, transparent 8%);
  background-size: 1em;
  background-repeat: repeat-x;
  height: 1em;
  margin: 0 0.5em;
  min-width: 2em;
}

.date {
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: auto;
  text-align: right;
}

.content-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em;
}


a {
    color: #0f1347 !important;
}


code *,
pre * {
  font-family: 'Latin Modern Mono', mono !important;
}

* {
  font-family: 'Latin Modern Roman', serif;
}



blockquote::after {
  content: none;
  display: none;
}

blockquote {
  padding-left: 1em;
  margin-left: 0;
}

.progress.progress-20plus {
  background: grey;
}
.progress-bar {
  background: palegreen;
}

.mermaid {
  font-family: "Latin Modern Mono";
}