@font-face {
  font-family: 'NewComputerModernSans10';
  src: url('fonts/NewCMSans10-Regular.otf') format('otf');
  font-style: normal;
}

@font-face {
  font-family: 'NewComputerModernSans10';
  src: url('fonts/NewCMSans10-Oblique.otf') format('otf');
  font-style: italic;
}

@font-face {
  font-family: 'NewComputerModernSans10';
  src: url('fonts/NewCMSans10-Bold.otf') format('otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'NewComputerModernSans10';
  src: url('fonts/NewCMSans10-BoldOblique.otf') format('otf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'NotoEmoji';
  src: url('fonts/Noto Emoji.ttf');
  unicode-range: U+1F9EC, U+1F9E0, U+1F449;
}

@font-face {
  font-family: 'NotoSym';
  src: url('fonts/Noto Sans Symbols.ttf');
  unicode-range: 
    U+00AC, U+2194, U+22BB, U+2234, U+2235, U+2191,
    U+2193, U+2B6B, U+21E3, U+00A7, U+22B0, U+22B1,
    U+2912, U+2913, U+2192, U+219B, U+21E2, U+2206,
    U+221D, U+223C, U+2941, U+2640, U+2642, U+204E,
    U+00D7, U+2254, U+2260, U+2200, U+23F1, U+26A4,
    U+1F30F, U+1F5A4, U+2695, U+1F464, U+1F46A, U+23F3,
    U+1F587;
}



/*
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmromandemi10-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman10-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
*/
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('fonts/lmmono10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.vp {
}

article {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.contents {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.content {
  display: flex;
  align-items: flex-start;      
  width: 100%;
  padding: 0.25em 0;
  line-height: 1.2;            
}

.folder {
  font-weight: bold;
}

.folder > .dots {
  opacity: 0;
}


.index {
  margin-right: 0.5em;
  text-align: right;
  min-width: 3em;
  white-space: nowrap;
}



.title {
  margin-right: 0.5em;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  flex: 0 1 auto;
  max-width: 50%;
}

.dots {
  flex-grow: 1;
  background: radial-gradient(circle at 50% 0.8em, #000 8%, transparent 8%);
  background-size: 1em;
  background-repeat: repeat-x;
  height: 1em;
  margin: 0 0.5em;
  min-width: 2em;
}

.date {
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: auto;
  text-align: right;
}

.content-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em;
}


a {
    color: #0f1347 !important;
}


code *,
pre * {
  font-family: 'Latin Modern Mono', mono !important;
}

* {
  font-family: 'NotoEmoji', 'NotoSym', 'NewComputerModernSans10';
}


blockquote::after {
  content: none;
  display: none;
}

blockquote {
  padding-left: 1em;
  margin-left: 0;
  border-left: solid grey 2px;
  font-style: italic;
}
